body {
    font-family: arial;
    background-color: pink;
    color: rgb(0,24,77);
}
div {
    min-height: 10vh;
    width: 100vw;
}
h1 {
    font-size: 5em;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 100px;
    margin-bottom: 0px;
}
h2 {
   font-size: 3em;
   text-align: center;
   margin-left: 35px;
   margin-right: 35px;
}
h3 {
   text-align: center;
}
img#portrait {
    display: block;
    padding: 20px;
    margin: 0 auto;
    border-radius: 130px;
    float:left;
}
img#map {
    display: block;
    padding: 20px;
    margin: 0 auto;
    float: left;
}
img#facetime {
    display: block;
    padding: 20px;
    margin: 0 auto;
    float: right;
}

p {
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}
a {
  color: rgb(0,0,0);
}
ol {
  list-style: inherit;
  padding: 5px;
  margin-left: 35px;
  margin-right: 50px;
  width:80%;
  text-align: center;
}
ul {
  list-style: upper-roman;
  padding: 5px;
  margin-left: 35px;
  margin-right: 50px;
  width:80%;
  text-align: center;
}
p.education {
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
}

tr:hover {
  background-color: #99003d;
}
