body {
    font-family: arial;
    background-color: rgb(242,242,242);
    color: rgb(0,24,77);
}
div {
    min-height: 10vh;
    width: 100vw;
}
h1 {
    font-size: 5em;
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(128,168,255,0.3);
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px;
    margin-bottom: 0px;
}
h2 {
   font-size: 3em;
   font-family: serif;
   text-align: center;
   background-color: rgba(128,168,255,0);
   margin-left: 35px;
   margin-right: 35px;
}
img#portrait {
    display: block;
    padding: 20px;
    margin: 0 auto;
    border-radius: 130px;
    float:left;
}
img#map {
    display: block;
    padding: 20px;
    margin: 0 auto;
    float: left;
}
img#facetime {
    display: block;
    padding: 20px;
    margin: 0 auto;
    float: right;
}

p {
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}
a {
  color: rgb(0,0,0);
}
ol {
  list-style: inherit;
  background-color: rgba(128,168,255,0.3);
  padding: 5px;
  margin-left: 35px;
  margin-right: 50px;
}
ul {
  list-style: upper-roman;
  background-color: rgba(128,168,255,0.3);
  padding: 5px;
  margin-left: 35px;
  margin-right: 50px;
}
